.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: orange;
  color: white;
}

nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}